
/* ~~~~~~~~~~~~~~~~~~~~ GENERAL ~~~~~~~~~~~~~~~~~~~~ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #F0F0F3;
  }
  
  html {
    font-family: 'Molengo', sans-serif;
    color: #342c5c;
    scroll-behavior: smooth;
  }
  
  
  ul,
  nav {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    opacity: 0.85;
  }
  
  a:hover {
    opacity: 1;
  }
  
  a.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    opacity: 1;
  }

  /* ~~~~~~~~~~~~~~~~~~~~ NAV ~~~~~~~~~~~~~~~~~~~~ */

  header {
    /* position: fixed; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 100px 15px;
    animation: .75s fadein 0.25s forwards;
    opacity: 0;
    z-index: 100;
    /* background-color: lightblue; */
    background-image: linear-gradient(to right, #93a3ff, #342c5c);
    /* maybe change animation to 1s fadein 0.5s if you want it slower/smoother */
  }
  
  #nav-stuff a {
    color: white;
  }
  
  @keyframes fadein {
    100% {
      opacity: 1;
    }
  }
  
  header h2 {
    font-family: 'Nova Flat', cursive; 
    font-size: 28px;
  }
  
  header nav {
    display: flex;
    margin-right: -15px;
    font-family: 'Nova Flat', cursive;
    font-size: 18px;
  }
  
  header nav li {
    margin: 0 15px;
  }

  /* ~~~~~~~~~~~~~~~~~~~~ SECTION DEFAULT ~~~~~~~~~~~~~~~~~~~~ */

  section {
    min-height: 85vh;
    padding: 100px 50px 50px;
  }

  section:nth-child(even) {
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255) 80%, #16c9ff 5%, #4eff66);
    /* border-bottom: 5px solid transparent;
    /* border-image: linear-gradient(to right, #0099CC 0%, #F27280 15%, #EF4E7B 30%, #A166AB 44%, #5073B8 58%, #1098AD 72%, #07B39B 86%, #6DBA82 100%); */
    /* border-image: linear-gradient(to right, #371783, #0004ff, #16c9ff, #4eff66);
    border-image-slice: 1; */

  }
  
  section:nth-child(odd) {
    background-image: linear-gradient(to top left, #ffffff 80%, #0004ff 5%, #371783);
  }

/* ~~~~~~~~~~~~~~~~~~~~ GEN SECTION ~~~~~~~~~~~~~~~~~~~~ */

  .main-thing {
    height: 100%;
    margin: 0 auto;
  }

  #textInput { 
    margin-top: 3rem;
  }

  .sequence-gen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hovering {
    stroke: white;
  }

.seeThrough {
  opacity: .5;
}

.text-matter {
  margin: 15px 20%;
  font-size: 18px;
}

#proust {
  font-size: 20px;
  padding: 1.5rem;
}

#proust:focus {
  outline-color: red;
}

.title {
  margin-top: 15px;
  margin-bottom: 15px;
}

textarea {
  resize: none;
  
  justify-content: center;
  font-family: 'Molengo', sans-serif;
  font-size: 16px;
  padding: 10px;
  border: 3px solid #cccccc;
  
}

button {
  border: 0; 
  
  border-radius: 0.25rem; 
  color: white; 
  font-family: normal, sans-serif; 
  font-size: .9rem; 
  line-height: 1.2; 
  white-space: nowrap; 
  text-decoration: none; 
  padding: 0.25rem 0.5rem; 
  margin: 0.35rem; 
  cursor: pointer;
}

.generate {
  background: #371783;
}

.generate:hover {
  background: #331774;
}

.generate:active {
  background: #331774;
}

.generate:focus, .generate:focus, .generate:focus{
  outline: 0;
}

.flow-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.gen-but {
  border-radius: 30px 60px 90px
}

.copy-clip {
  border-radius: 90px 60px 30px
}

.start-over {
  border-radius: 30px 90px 60px
}

.gen-but, .copy-clip, .start-over  {

  margin: 10px;
  font-size: 16px;
  display: inline-block;
  padding: 6px 16px;
  font-family: "Nova Flat";
}

.gen-but {
  transition: .3s ease-out;
  background-color: #0004ff;
}
.gen-but:hover {
  /* transform: scale(1.05); */
  background-color: #0003C9;

}
.gen-but:active {
  background-color: #000292;
  transition: none;
}

.copy-clip, .start-over {
  background-color: #5900ff;
  transition: .3s ease-out;
}
.copy-clip:hover, .start-over:hover {
  background-color: #4900D1;
}
.copy-clip:active, .start-over:active {
  background-color: #3900a3;
  transition: none;  
}



.gen-but:focus, .copy-clip:focus, .start-over:focus{
    outline: 0;
}
/* 
.buttons {
  float: left;
  margin-top: 10px;
} */

::selection {
  background: #4602e49d; /* WebKit/Blink Browsers */
  color: white;
}

#userInput {
  margin: 15px 20%;
}

h5 {
  margin-top: 8%;
}

/* ~~~~~~~~~~~~~~~~~~~~ ABOUT SECTION ~~~~~~~~~~~~~~~~~~~~ */

.about-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#about {
  font-family: 'Nova Flat', cursive;
  margin-bottom: 2rem;
}

.about-text {
  text-align: left;
  width: 60%;
  margin: 0 auto;
}